* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: NicoMoji;
}

@font-face {
    font-family: NicoMoji;
    src: url("./assets/fonts/NicoMoji.ttf");
}
